:root{
	--bg-color: #EDF2E4;
	--fg-color: #1b1b1b;
	--font-body: "Arial", sans-serif;
	--space: 24px;
	--font-size: 16px;
	--accent-color: #d4ff00;
}

body{
	margin:0;
	padding:0;
	font-family: var(--font-body);
	background-color: var(--bg-color);
	color: var(--fg-color);
	font-size: var(--font-size);
}
h1,h2,h3,h4{
	font-weight: normal;
	font-size: var(--font-size);
}

a, a:link, a:visited{
	color:inherit;
}
nav{
	background-color: var(--bg-color);
	padding: var(--space);
	display: flex;
	column-gap: var(--space);
	position: fixed;
	width: calc(100vw - var(--space)*2);
	top:0;
	justify-content: space-between;
	left:0;
	border-bottom: 1px solid var(--fg-color);
}
nav > *{
  flex-basis: 33%;
}

.hidden{
	margin-top:0;
	opacity: 0;
	transition: opacity 1s;
	display: block;
	pointer-events: none;
	height:0;
	overflow: hidden;
}


.hidden.show{
	margin-top:var(--space);
	opacity: 1;
	pointer-events: auto;
	height: auto;
}
#more{
	text-align: right;
}

nav svg{
	animation: spin 3s linear infinite;
}
nav > *{
	cursor: pointer;
	flex-basis: 25%;
}

main{
	min-height: 100vh;
	margin-top: 200px;
	padding:var(--space);
}
main h1{
	font-style: italic;
	margin:calc(var(--space) * 2) 0;
}

#gallery{
	display: flex;
	flex-wrap: wrap;
	column-gap: var(--space);
}
#gallery .project img{
	width: 100%;
}
#gallery .project{
	flex-basis: calc(33% - var(--space));
	margin-bottom: var(--space)

}
.project h4{
	margin-top:calc(var(--space)/2);
}
.project a{
	text-decoration: none;
}
.project a:hover{
	filter: none;
}
.project:hover{
	filter: drop-shadow(1px 1px 10px var(--accent-color))
}
a:hover{
	filter: drop-shadow(1px 1px 10px var(--accent-color))
}

#main:hover > path{
	stroke:var(--accent-color) ;
}
/* The animation code */
@keyframes spin {
	from {transform: rotate(0)}
	to {transform: rotate(180deg);}
  }


  @media (max-width: 768px) {
	nav > *{
		flex-basis: calc(50% - var(--space));
	  }
	#gallery .project{
		flex-basis: calc(100%);
		margin-bottom: var(--space)
	
	}
  }